<div class="jumbotron-container">	
	<div class="jumbotron"> 
		<img src="/public/assets/images/burger_banner.jpg"> 
		<h1>Eat Da Burgers!!</h1>
	</div>


<!-- Pass in data from server.js -->



<h2 class="to-devour">Burgers to Devour</h2>

<ul>
  {{#each burgersData}}
    {{#unless devoured}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>


<ul>
  {{#each burgersData}}
  	<li>
  		<p><span class="label">ID:</span> {{this.id}}</p>
      <p><span class="label">Name:</span> {{this.burger_name}}</p>
      <p><span class="label">Devoured:</span> {{this.devoured}}</p>

      <button data-id="{{this.id}}" class="delquote">Delete</button>

      <a href="/{{this.id}}">Update this burger</a>
  	</li>
  {{/each}}
</ul>

<form class="create-form" action="/api/burgers">

    <div id="newBurger"></div>

   <div class="form-group">
    <label for="ca">Add a Yummy Burger:</label><br><br>
    <input type="text" id="burgerInput" name="name">
  </div>
<br><br>
  <button type="submit" id="addburger">Submit Burger</button>
  <h5>Enter the Type of Burger You Would Like to Have, Then Click the "Submit" Button</h5>
</form>
