<div class="container">
    <div class="jumbotron">
        <img id="burger-image" src="/assets/images/burger_banner.jpg">
        <h1 id="jumbotron-text">What Burger Are You Craving?!</h1>
        <hr id="jumbohr">
    </div>

    


    <!-- Pass in data from server.js -->

    <div id="messages"></div>

    <h2 class="h2text text" id="notDevoured">Burgers to Devour</h2>
    <hr class="h2hr">

    <ul>
    {{#each burgersData}} 
        {{#unless this.devoured}}

        <p class="body-text">{{this.id}}. {{this.burger_name}}</p> 

        {{!-- <form action="/api/burgers/{{this.id}}?_method=PUT" method="POST"> --}}
            {{!--
            <input type="hidden" name="devoured" value="false"> --}}

            <button type="submit" class="devourburger" data-id="{{this.id}}" name="devoured" value="true">DEVOUR THAT BURGER!</button>

        {{!-- </form> --}}

        {{/unless}}   
    {{/each}}
    </ul>


    <h2 class="h2text text" id="burgerDevoured">Devoured Burgers!</h2>
    <hr class="h2hr">


    <ul>
        {{#each burgersData}} 
        {{#if this.devoured}}

        <p class="body-text">{{this.id}}. {{this.burger_name}}</p>

        {{burgers/delete-burger}}

        </form>
        {{/if}} 
        {{/each}}
    </ul>


    <form class="create-form" method="POST" action="/api/burgers">

        <div id="newBurger"></div>

        <div class="form-group" id="addform">
            <label for="ca" class="text add-text">Add a Yummy Burger:</label>
            <br>
            <br>
            <input type="text" id="burgerInput" name="burger_name" size="35" placeholder="What burger would you like to have?">
        </div>

        <br>
        
        <button type="submit" class="text submit-text" id="addburger">Submit Burger</button>
        <h5 class="text">Enter the Type of Burger You Would Like to Have, Then Click the "Submit" Button</h5>
    </form>


